<!DOCTYPE html>
<html>
  <head>
    <title>RailsTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'ログアウト', logout_path, method: :delete %>

    <h1><%= yield(:title) %></h1>

    <% flash.each do |type, messages| %>
      <% if type == 'error' %>
      <div class="flash-wrapper error mb-2">
        <% messages.each do |msg| %>
          - <%= msg %>
          <br />
        <% end %>
      </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
